.hero {
  background-color: $hero-bgc;
  padding-bottom: 193px;
  background-repeat: no-repeat;
  background-image: url(/img/hero_bottom.svg);
  background-position: center bottom;

  &__block {
    text-align: center;
  }
  &__title {
    max-width: 537px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title span {
    color: $footer-bgc;
  }
  &__text {
    max-width: 445px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 15px;
    line-height: 187%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    &__title {
      font-size: 64px;
      margin-bottom: 24px;
    }
  }
  @media screen and (min-width: 1110px) {
    .hero {
      background-repeat: no-repeat;
      background-image: url(/img/hero_left.svg);
      background-position: left top;
    }
    background-position: 75% bottom;
    &__block {
      text-align: start;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__title {
      margin: 0;
      font-size: 100px;
      line-height: 100%;
    }
    &__text {
      font-size: 18px;
      line-height: 156%;
      padding-top: 80px;
      background-repeat: no-repeat;
      background-image: url(/img/hero_line.svg);
      background-position: left top;
    }
  }
}
